#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height for the section */
  background-color: #f5f5f5; /* Light gray background */
  color: #333333; /* Dark gray text color for readability */
  padding: 0; /* Remove padding */
}

.about-container {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly transparent white background */
  border: 2px solid #ff007f; /* Bold pink border */
  border-radius: 8px; /* Rounded corners */
  padding: 40px; /* Padding inside the box */
  width: 90%; /* About 90% of the width */
  max-width: 1200px; /* Maximum width for larger screens */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  text-align: center; /* Center align the heading */
  color: #444444; /* Charcoal for the heading */
}

.about-text {
  text-align: left; /* Left align text for paragraphs */
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 20px;
  width: 100%; /* Ensure paragraphs take full width */
  color: #001f3f; /* Dark gray text for paragraphs */
}

.social-links {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Center align social links */
}

.social-link {
  margin: 0 10px;
  padding: 10px 20px;
  background: #748ca7; /* Bold pink color */
  color: #ffffff; /* White text for links */
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
  background: #0056b3; /* Darker shade of pink for hover effect */
}

.video-placeholder {
  margin: 20px 0; /* Add margin for spacing */
  text-align: center; /* Center align the placeholder text */
  padding: 20px; /* Add padding for better appearance */
  border: 2px dashed #ff007f; /* Dashed border for the placeholder */
  border-radius: 8px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.8); /* Light background */
  color: #333; /* Dark text color */
}
