header {
  position: fixed;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  width: 100%;
}

nav {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  gap: 2%;
  padding: 7px;
  padding-inline-start: 7px;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  text-decoration: none;
  color: #001f3f;
  font-size: 1.4rem;
}

a:hover {
  color: #444;
  transform: scale(1.05);
  text-decoration: underline;
}

@media (max-width: 768px) {
  a {
    font-size: 1.5rem;
  }
}
