:root {
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
}

h2, h3 {
  text-align: center;

}
h2{
  font-size: 334%;
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
}
